@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: helvetica-regular;
  src: url(../public/fonts/Helvetica-Font/Helvetica.ttf);
}
@font-face {
  font-family: helvetica-bold;
  src: url(../public/fonts/Helvetica-Font/Helvetica-Bold.ttf);
}
@font-face {
  font-family: helvetica-bold-oblique;
  src: url(../public/fonts/Helvetica-Font/Helvetica-BoldOblique.ttf);
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: helvetica-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
